# Visual Studio archivos temporales
.vs/
[Bb]in/
[Obj]/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de configuración con secretos
AppSettings.secrets.config

# Bases de datos locales (si usas LocalDB)
App_Data/*.mdf
App_Data/*.ldf

# Paquetes NuGet
packages/

# Archivos de publicación
*.Publish.xml