@model List<MediCitasWeb.Models.Cita>

<h2>Mis Citas</h2>

<table border="1">

    <tr>

        <th>Especialidad</th>

        <th>Fecha</th>

        <th>Hora</th>

        <th>Estado</th>

    </tr>


    @foreach (var c in Model)
    {

        <tr>

            <td>@c.especialidad</td>

            <td>@c.fecha_cita.ToShortDateString()</td>

            <td>@c.hora_cita</td>

            <td>@c.estado</td>

        </tr>

    }

</table>