@{
    Layout = null;
    ViewBag.Title = "Login - MediCitas";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Login - MediCitas</title>
    <link href="~/Content/auth.css" rel="stylesheet" />
</head>

<body class="auth-page">

    <div class="auth-container">

        <h1>MediCitas</h1>
        <p class="subtitle">Acceso al sistema de citas médicas</p>

        <form method="post" action="/Auth/Login">

            <!-- DOCUMENTO --> <!-- CON VALIDACIONES EN TIEMPO REAL -->
            <label>Número de documento</label>
            <input type="text"
                   name="numero_documento"
                   value="@Request["numero_documento"]"
                   oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                   required />
            @Html.ValidationMessage("numero_documento", "", new { style = "color:red" })

            <!-- CONTRASEÑA --><!-- CON VALIDACIONES EN TIEMPO REAL -->
            <label>Contraseña</label>
            <input type="password"
                   name="password"
                   required />
            @Html.ValidationMessage("password", "", new { style = "color:red" })

            <a href="/Auth/Recuperar" class="auth-links">
                ¿Olvidaste tu contraseña?
            </a>

            <button type="submit">Iniciar sesión</button>

            <!-- Error general -->
            @Html.ValidationSummary(true, "", new { style = "color:red; margin-top:10px;" })

        </form>

        <div class="auth-links">
            ¿No tienes cuenta?
            <a href="/Auth/Registro">Crear cuenta</a>
        </div>

    </div>

</body>
</html>